@import './config/reset';
@import './config/varibles';
@import './config/mixins';
@import './config/baseLayout';

@import './components/nav';
@import './components/main';


.wrapper {
    min-height: 100vh;
    background: #000;
}

.nav {

}

.board-canvas {
    display: flex;
    align-items: flex-start;    

    @include xs {   
        flex-direction: row;
    }

    &__colum {
        flex-basis: 100%;
        background: #262626;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }

    &__colum--todo {

    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $primary_color;
        font-size: 33px;
        font-weight: 800;
    }

    &__counter {

    }

    &__body {

    }

    &__item {
        padding: 10px;
        margin: 10px 0;
        border-radius: 10px;
    }

    &__colum--todo  .board-canvas__item{
        background: $violet_color;
    }

    &__colum--in-progress .board-canvas__item{
        background: $blue_color;
    }

    &__colum--done .board-canvas__item{
        background: $turquoise_color;
    }

    &__item-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__item-text {
        margin-bottom: 10px;
    }

    &__in-progress {

    }

    &__done {

    }

    &__btn {
        color: $primary_color;
        padding: 5px 10px;
       
        border: 1px solid;
        border-radius: 3px;

    }

    &__footer {
        display: flex;
        justify-content: flex-end;
    }

    @include sm {   
        flex-wrap: wrap;
    }
}

